<!DOCTYPE html>
{% load static %}
<html lang="en">
<!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
<head>
		<meta charset="utf-8">
		<title>Apoointment Booking</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'user/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'user/plugins/fontawesome/css/all.min.css' %}">
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'user/css/style.css' %}">
		
	</head>
	<body>
	<!-- Main Wrapper -->
		<div class="main-wrapper">
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						
						<a href="{% url 'home' %}" class="navbar-brand logo">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZLHh_AMNiDSy5axdfin93Xe99AenuWT3MnOqMuzHNRQYcYhAXC9GSff105YtwVAM8Nns&usqp=CAU" class="img-fluid" alt="Logo" style="width:90px;height:60px">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<ul class="main-nav">
							<li>
								<a href="{% url 'patient_dashboard' %}">Home</a>
							</li>
							<li class="has-submenu">
								<a href="#">Search <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'search_doctor' %}">Search Doctor</a></li>
								</ul>
							</li>
							<li class="has-submenu active">
								<a href="#"> Doctor Appointment <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'p_appointment' %}">Pending Appointment</a></li>
									<li><a href="{% url 'confirmed_p_appointment' %}">Complete Appointment</a></li>
									<li><a href="{% url 'history_p_appointment' %}">History Appointment</a></li>
								</ul>
							</li>
							
						</ul>
					</div>
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<img src="https://www.pikpng.com/pngl/m/249-2496575_college-survival-guide-3-icon-hospital-icon-red.png" class="img-fluid" alt="Logo" style="width:65px;height:60px">
							</div>
							
						</li>
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
					
									<div class="user-text">
										<h6>{{request.user.first_name}}</h6>
										<p class="text-muted mb-0">Patient</p>
									</div>
								</div>
								<a class="dropdown-item" href="{% url 'patient_dashboard' %}">Dashboard</a>
								<a class="dropdown-item" href="{% url 'patient_profile' %}">Profile Settings</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
					</ul>
				</nav>
			</header>
			<!-- /Header -->

{% block body %}
{% endblock %}

			<!-- Footer -->
			
			<!-- /Footer -->
		</div>
		<!-- /Main Wrapper -->
		<!-- jQuery -->
		<script src="{% static 'user/js/jquery.min.js' %}"></script>
		<!-- Bootstrap Core JS -->
		<script src="{% static 'user/js/popper.min.js' %}"></script>
		<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'user/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'user/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		<!-- Custom JS -->
		<script src="{% static 'user/js/script.js' %}"></script>
	</body>
<!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>
